.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #e0e0e0;
}

form {
  padding: 0px 30px;
  border-radius: 7px;
  background: #ffffff;
  box-shadow:  -20px -20px 60px #d9d9d9,
               20px 20px 60px #ffffff;
}
h1{
  color: rgb(36, 34, 34);
  text-align: center;
}

button{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: rebeccapurple;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}





